In [11]:
from google.colab import drive
import pathlib
pathlib.Path().absolute()
drive.mount('/content/gdrive')

Mounted at /content/gdrive

> Installing PySpark is pretty much simple rather than on your local machine.

> Use the following command to install PySpark on notebook

In [12]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9)

> Initialize the PySpark session.

In [13]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

> Print the SparkSession variable as follows.

In [14]:
spark

> Loading data into PySpark
> Here using the washdata,
- https://washdata.org/data
- https://washdata.org/data/household#!/table?geo0=region&geo1=sdg

In [15]:
df = spark.read.csv('/content/gdrive/My Drive/Dataengineering/opendata_collections/washdash/washdash-download.csv', header=True)

> Data Exploration with PySpark DF

In [16]:
df.show(10)

+----+--------------------+--------------+--------------+----+--------+--------------+--------------------+
|Type|              Region|Residence Type|  Service Type|Year|Coverage|    Population|       Service level|
+----+--------------------+--------------+--------------+----+--------+--------------+--------------------+
| sdg|Australia and New...|         total|    Sanitation|2000|39.91334| 9120369.26473|       Basic service|
| sdg|Australia and New...|         total|    Sanitation|2000|       0|             0|     Limited service|
| sdg|Australia and New...|         total|    Sanitation|2000|       0|             0|     Open defecation|
| sdg|Australia and New...|         total|    Sanitation|2000| 60.0793|13728376.93403|Safely managed se...|
| sdg|Australia and New...|         total|    Sanitation|2000| 0.00735|    1679.80124|          Unimproved|
| sdg|Australia and New...|         total|Drinking water|2000|99.76089|22795787.69424|      At least basic|
| sdg|Australia and New...|         rural|Drinking water|2000|99.20068| 3505204.57043|      At least basic|
| sdg|Australia and New...|         urban|Drinking water|2000| 7.91066| 1528100.80116|       Basic service|
| sdg|Australia and New...|         total|Drinking water|2000|       0|             0|     Limited service|
| sdg|Australia and New...|         rural|Drinking water|2000|       0|             0|     Limited service|
+----+--------------------+--------------+--------------+----+--------+--------------+--------------------+
only showing top 10 rows

In [18]:
df.count()

4885